@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "components/hero";
@import "layout/tips";
@import "layout/reasons";
@import "layout/footer";

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: chartreuse;
}
