<footer class="footer">
  <div class="footer__arrow">
    <img src="./assets/images/ico-arrow.svg" alt="" title="" />
  </div>

  <div class="footer__container">
    <nav class="footer__container__nav">
      <ul class="footer__container__nav__ul">
        <li><a class="footer__container__nav__ul--a" href="https://www.google.com" target="_blank">Articles</a></li>

        <li><a class="footer__container__nav__ul--a" href="https://www.wikipedia.com" target="_blank">Books</a></li>
        <li><a class="footer__container__nav__ul--a" href="https://www.adalab.es" target="_blank">Events</a></li>
        <li><a class="footer__container__nav__ul--a" href="https://www.campus.co" target="_blank">Reasons</a></li>
        <li><a class="footer__container__nav__ul--a" href="https://www.esmadrid.com" target="_blank">Tips</a></li>
      </ul>
    </nav>

    <nav class="footer__container__nav">
      <ul class="footer__container__nav__ul">
        <li><a class="footer__container__nav__ul--a" href="https://www.twitter.com" target="_blank">Twitter</a></li>
        <li><a class="footer__container__nav__ul--a" href="https://www.instagram.com" target="_blank">Instagram</a></li>
        <li><a class="footer__container__nav__ul--a" href="https://mastodon.social/about" target="_blank">Mastodon.social</a></li>
      </ul>
    </nav>

    <ul class="footer__container__nav__ul">
      <li>&copy2017</li>
      <li>we <span class="footer__container__nav__ul--heart">&hearts;</span> components</li>
    </ul>
  </div>
</footer>
