<footer class="footer">
  <div class="footer__icon" role="contentinfo">
    <a href="index.html#header"><img src="../assets/images/ico-arrow.svg" alt="Icono con flecha" title="Volver arriba"/></a>
  </div>
  <div class="footer__container">
    <div class="footer__container__ul" role="nav">
      <ul class="footer__container__ul--first">
        <li><a class="footer__container__ul--first--a" href="http://www.google.com" target="_blank" title="Más info">Articles</a></li>

        <li><a class="footer__container__ul--first--a" href="http://www.amazon.com" target="_blank" title="Más info">Books</a></li>

        <li><a class="footer__container__ul--first--a" href="http://www.wikipedia.com" target="_blank" title="Más info">Events</a></li>

        <li><a class="footer__container__ul--first--a" href="http://www.zeplin.io" target="_blank" title="Más info">Reasons</a></li>

        <li><a class="footer__container__ul--first--a" href="http://www.adobe.com" target="_blank" title="Más info">Tips</a></li>
      </ul>
    </div>
    <div class="footer__container__ul" role="nav">
      <ul class="footer__container__ul--second">
        <li><a class="footer__container__ul--second--a" href="http://www.twitter.com" target="_blank" title="Más info">Twitter</a></li>
        <li><a class="footer__container__ul--second--a" href="http://www.instagram.com" target="_blank" title="Más info">Instagram</a></li>
        <li><a class="footer__container__ul--second--a" href="https://mastodon.social/about" target="_blank" title="Más info">Mastodon.Social</a></li>
      </ul>
    </div>

    <div class="footer__container__ul">
      <ul class="footer__container__ul--third">
        <li>&copy2017</li>
        <li>we <span class="footer__container__ul--third--heart">&hearts;</span> components</li>
      </ul>
    </div>
  </div>
</footer>
