<footer class="footer">
  <div class="footer__icon">
    <a href="index.html#header"><img src="../assets/images/ico-arrow.svg" alt="Icono con flecha" title="Volver arriba"/></a>
  </div>
  <div class="footer__container">
    <div class="footer__container__ul">
      <ul class="footer__container__ul--first">
        <li>Articles</li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
    </div>
    <div class="footer__container__ul">
      <ul class="footer__container__ul--second">
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Mastodon.Social</li>
      </ul>
    </div>

    <div class="footer__container__ul">
      <ul class="footer__container__ul--third">
        <li>&copy2017</li>
        <li>we <span class="footer__container__ul--third--heart">&hearts;</span></li>components</li>
      </ul>
    </div>
  </div>
</footer>
