<section class="reasons">
  <h2 class="reasons__h2">3 Reasons To Purchase</h2>
  <div class="reasons__grid">
    <div class="reasons__grid__item">
      <p>Ut sed metus</p>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="reasons__grid__item">
      <p>Curabitur ac erat</p>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="reasons__grid__item">
      <p>Morbi dictum</p>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>
  <div class="reasons__cta">
    <p>More reasons</p>
  </div>
</section>
