<section class="reasons">
  <h2 class="reasons__h2">3 Reasons To Purchase</h2>

  <div class="reasons__grid">
    <div class="reasons__grid__item">
      <h3 class="reasons__grid__item--h3">Ut sed metus</h3>
      <p class="reasons__grid__item--p">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>

    <div class="reasons__grid__item">
      <h3 class="reasons__grid__item--h3">Curabitur ac erat</h3>
      <p class="reasons__grid__item--p">Mauris mattis urna quis lorem molestie.</p>
    </div>

    <div class="reasons__grid__item">
      <h3 class="reasons__grid__item--h3">Morbi dictum</h3>
      <p class="reasons__grid__item--p">Aliquam in dolor et dolor tincidunt.</p>
    </div>

    <div>
      <a class="reasons__grid__item--a" href="https://www.wikipedia.com">More reasons</a>
    </div>
  </div>
</section>
