.footer {
  border: 1px solid red;
  background: $toocold;
  color: $snow;
  font-size: 16px;
  text-transform: uppercase;

  &__icon {
    display: inline-block;
    background: $snow;
    padding: 10px 13px;
    border-radius: 50%;
    margin-left: 46vw;
    margin-top: -30px;

    @media all and (min-width: 768px) {
      margin-left: 47vw;
    }

    @media all and (min-width: 1280px) {
      margin-left: 48vw;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: center;

    @media all and (min-width: 768px) {
      flex-direction: row-reverse;
      text-align: left;
    }

    &__ul--first {
      margin: 20px 0px;

      @media all and (min-width: 768px) {
        list-style: none;
        position: relative;
        transform: translatex(-510%);
        margin: 45px 0;
        line-height: 30px;
      }
      @media all and (min-width: 1280px) {
        transform: translatex(-850%);
      }

      &--a {
        text-decoration: none;
        color: $snow;
        &:hover {
          color: $hot;
        }
      }
    }

    &__ul--second {
      margin: 20px 0px;

      @media all and (min-width: 768px) {
        list-style: none;
        position: relative;
        margin: 45px 0;
      }
      @media all and (min-width: 1280px) {
        transform: translatex(-110%);
      }
      &--a {
        text-decoration: none;
        color: $snow;
        &:hover {
          color: $hot;
        }
      }
    }

    &__ul--third {
      margin: 20px 0px;
      @media all and (min-width: 768px) {
        list-style: none;
        transform: translatex(-240%);
        margin: 45px 0;
      }
      @media all and (min-width: 1280px) {
        transform: translatex(-600%);
      }
      &--heart {
        color: $hot;
        &:hover {
          color: $sea;
        }
      }
    }
  }
}
