.footer {
  background: $toocold;
  color: $snow;
  width: 100%;

  &__arrow {
    display: inline-block;
    padding: 9px 13px;
    background: $snow;
    border-radius: 50%;
    position: relative;
    left: 45%;
    bottom: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;

    @media all and (min-width: 768px) {
      flex-direction: row-reverse;
    }

    &__nav {
      &__ul {
        list-style: none;
        text-align: center;
        margin-bottom: 30px;
        line-height: 30px;
        font-size: 16px;
        text-transform: uppercase;

        &--a {
          color: $snow;
          text-decoration: none;
          &:hover {
            color: $hot;
          }
        }

        &--heart {
          color: red;
          &:hover {
            color: $sea;
          }
        }
      }
    }
  }
}
