.reasons {
  border: 1px solid olive;
  background: $ice;
  padding: 30px 15px 45px 15px;

  &__h2 {
    font-family: $fontitle;
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
  }

  &__grid {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 184px;
    justify-content: center;

    &__item {
      border: 1px solid orange;

      &--h3 {
        border: 1px solid pink;
        text-align: center;
      }

      &--p {
        border: 1p solid yellow;
        text-align: center;
        padding-bottom: 50px;
      }
    }
  }

  &__cta {
    border: 1px solid purple;
    background: $hot;
    border-radius: 20px;

    &__p {
      border: 1px solid blue;
      color: $snow;
      font-family: $font;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }
  }
}
